.display {
    width: 100%;
    height: 20%;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border: 1px solid gray;
    box-sizing: border-box;
    border-collapse: collapse;
}

.display p {
    font-size: 75px;
    margin-right: 15px;
    font-weight: 200;
}