/* All styles for your Card Components live here */

.cardContainer {
    margin-left: 60px;
    margin-right: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.cardContainer img {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.cardContainer h2 {
    font-size: 14px;
    font-weight: 600;
    color: black;
}

.cardContainer h3 {
    font-size: 14px;
    font-weight: 100;
    line-height: 1.3;
    margin-bottom: 0px;
    color: black;
}

.cardContainer p {
    font-size: 14px;
    font-weight: 100;
    color: gray;
    margin-top: 5px;
}

.cardContent {
    margin-left: 10px;

}

#link {
    text-decoration: none;
}